@model EnterpriseBudgetApp.Models.Transaction

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Transaction</legend>

        <div>  </div>
        <div>TransId</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TransId)
            @Html.ValidationMessageFor(model => model.TransId)
        </div>

        @*div class="editor-label">
            @Html.LabelFor(model => model.AcctId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AcctId", String.Empty)
            @Html.ValidationMessageFor(model => model.AcctId)
        </div>*@

        <div>Description</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div>Amount</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        @**@<div class="editor-label">
            @Html.LabelFor(model => model.TransType, "TransType1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TransType", String.Empty)
            @Html.ValidationMessageFor(model => model.TransType)
        </div>

        <div>Date</div>
        <div class="editor-field">
            <input type="text" id="dp" />

            <script type="text/javascript">
                $(function() {
                    $('#dp').datepicker();
                });
            </script>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
