@model EnterpriseBudgetApp.Models.Transaction
@{
    ViewBag.Title = "Add Transaction";
}

<hgroup class="title">
    <h2>Create a new Transaction.</h2>
</hgroup>

<form>
<fieldset>
        <legend>Transaction Form</legend>
        <ol>
            <li>
                Date<br />
                @Html.TextBoxFor(m => m.TimeStamp)
            </li>
            <li>
                Category<br />
                @Html.TextBoxFor(m => m.TransType)
            </li>
            <li>
                Description<br />
                @Html.TextBoxFor(m => m.Description)
            </li>
            <li>
                Amount<br />
                @Html.TextBoxFor(m => m.Amount)
            </li>
        </ol>
        <input type="submit" onclick="alert('The Transaction has been processed!')" value="Add Transaction" />
    </fieldset>
</form>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
